{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Mod
{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h1>Users by number of Listings</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-hover table-condensed text-center">
      <thead>
        <td class="col-md-2"><h4><strong>Number</strong></h4></td>
        <td class="col-md-8"><h4><strong>Student</strong></h4></td>
        <td class="col-md-2"><h4><strong>Action</strong></h4></td>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.num_books }}</td>
            <td><a href="{{ student.get_absolute_url }}" target="_blank">
              {% if student.has_nickname %}
                <strong>{{ student.get_nickname }}</strong>
              {% else %}
                <strong>{{ student.get_full_name_or_uname }}</strong>
              {% endif %}
              (<em>{{ student.user.username }}</em>)
            </a></td>
            <td>
              <a href="#">
                <span class="label label-warning"><strong>Email</strong></span>
              </a>
              <a href="#">
                <span class="label label-danger"><strong>Make Inactive</strong></span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
