{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; About
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>About Bookshare</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h2>What is Bookshare?</h2>
    <p>
      The purpose of Bookshare is to allow Mason students to safely and
      securely coordinate textbook exchanges.
    </p>
    <p>
      Have an old textbook? Bookshare will help you find an incoming
      student who wants to buy it from you.
    </p>
  </div>

  <div class="col-md-4">
    <h2>Who uses Bookshare?</h2>
    <p>
      Bookshare is only open to current students and faculty at George
      Mason University with active NETIDs.
    </p>
    <p>
      This exclusivity provides a safe, closed community within which
      users can exchange their textbooks.
    </p>
  </div>

  <div class="col-md-4">
    <h2>Who is Mason SRCT?</h2>
    <p>
      Members of the
      <a href="//srct.gmu.edu">Student-Run Computing and Technology</a>
      group at <a href="//gmu.edu">George Mason University</a> are the
      clever, talented students behind Bookshare.
    </p>
    <p>
      We are a group of creative people that like making software and
      wanted to give back to the Mason community at the same time.
    </p>
    <p>
      <a href="{%url 'contact'%}">Contact us</a> to get involved!
    </p>
  </div>

</div>

{% endblock %}
