{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; About
{% endblock title %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>About Bookshare</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h2>What is Bookshare?</h2>
    <p>
      The purpose of Bookshare is to allow Mason students to safely and
      securely coordinate textbook exchanges.
    </p>
    <p>
      Have an old textbook? Bookshare will help you find an incoming
      student who wants to buy it from you. Need one for the coming semester?
      Search by ISBN, title, course, and more, or set a lookout to be
      automatically notified when a textbook you need is posted.
    </p>
  </div>

  <div class="col-md-4">
    <h2>Who uses Bookshare?</h2>
    <p>
      Bookshare is only open to current students and faculty at George
      Mason University with active NETIDs.
    </p>
    <p>
      This exclusivity provides a safe, closed community within which
      users can exchange their textbooks.
    </p>
  </div>

  <div class="col-md-4">
    <h2>Who is Mason SRCT?</h2>
    <p>
      Members of the
      <a href="//srct.gmu.edu">Student-Run Computing and Technology</a>
      group at <a href="//gmu.edu">George Mason University</a>, a registered
      student organization, are the clever, talented students behind Bookshare.
    </p>
    <p>
      We are a group of creative people that like making software and
      wanted to give back to the Mason community at the same time.
    </p>
    <p>
      <a href="http://srct.gmu.edu/contact">Contact us</a> to get involved!
    </p>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h4>Digital Millennium Copyright Act</h4>
    <p>
    <a href="http://lcweb.loc.gov/copyright/legislation/hr2281.pdf">
    Digital Millennium Copyright Act</a> (DMCA)
    <a href="http://copyright.gmu.edu/?page_id=303">
    compliance on Mason university networks
    </a> is handled by the
    <a href="http://copyright.gmu.edu/">
    George Mason University Copyright Office</a>.
    George Mason Unversity's
    <a href="http://copyright.gmu.edu/?page_id=301">
    Responsible Use of Computing</a> Section IV
    forbids user violation of copyright laws and licenses. Violators will be
    subject to punishments including full partitioning from the university
    network under the
    <a href="http://copyright.gmu.edu/?page_id=39">STOP IT</a> process.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <h4>Thanks</h4>
  <p>
    This project was made possible through the collective code contributions of
    Daniel Bond, J. Michel Rouly, Wes Tarro, Kunal Sarkhel, Benjamin Waters,
    Renfred Harper, Eric Cawi, Tyler Hallada, Daniel Taylor, Luke Faraone, and
    Adam Miller.
  </p>
  <p>
    Nicholas Anderson, Benjamin Waters, and Daniel Bond collaborated on deployment.
  </p>
  <p>
    Additional thanks are due to the Student-Run Computing and Technology executive
    board from 2013-present, and our academic advisor, Professor Kinga Dobolyi.
  </p>
  </div>
</div>

{% endblock content %}
