{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; All Listings
{% endblock %}

{% block content %}


<div class="container">

  <h1>All Listings</h1>

  {% if listings %}

    <div class="table-responsive">
      <table class="table table-bordered">

        <thead>
          <th class="col-md-1">Photo</th>
          <th class="col-md-10">Title</th>
          <th class="col-md-1 text-center">Status</th>
        </thead>

        {% for listing in listings %}
          <tr>
            <td><img src="{{ listing.photo }}" /></td>
            <td>{{ listing.title }}</td>
            {% if listing.active %}
              <td class="text-center">Active</td>
            {% else %}
              <td class="text-center">Inactive</td>
            {% endif %}
          </tr>
        {% endfor %}

      </table>
    </div>

  {% else %}
  <strong>No listings posted.</strong>
  {% endif %}

</div>

{% endblock %}
