{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Contact
{% endblock %}

{% block content %}


<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>Contact</h1>
      <p class="lead">Please feel free to get in contact with us.</p>
    </div>
  </div>
</div>

<div class="row">
  <span class="col-lg-2"><strong>Organization:</strong></span>
  <span class="col-lg-4"><a href="http://srct.gmu.edu">srct.gmu.edu</a></span>
</div>

<div class="row">
  <span class="col-lg-2"><strong>Documentation:</strong></span>
  <span class="col-lg-4"><a href="http://wiki.srct.gmu.edu">wiki.srct.gmu.edu</a></span>
</div>

<div class="row">
  <span class="col-lg-2"><strong>People:</strong></span>
  <span class="col-lg-4"><a href="http://fb.com/masonsrct">fb.com/masonsrct</a></span>
</div>

<div class="row">
  <span class="col-lg-2"><strong>Announcements:</strong></span>
  <span class="col-lg-4"><a href="http://twitter.com/masonsrct">twitter.com/masonsrct</a></span>
</div>

<div class="row">
  <span class="col-lg-2"><strong>Discussion:</strong></span>
  <span class="col-lg-4"><a
  href="http://lists.srct.gmu.edu/mailman/listinfo">lists.srct.gmu.edu/mailman/listinfo</a></span>
</div>

{% endblock %}
