{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Create Listing
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>Create Listing</h1>
      <p class="lead">desc</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-6">
    <div class="well">
      <form class="form-horizontal" action="" method="post" role="form"
      enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>Textbook Information</legend>

          <div class="form-group{%if form.errors%} has-error{%endif%}">
            {% for error in form.non_field_errors %}
              <span class="col-lg-2 control-label"></span>
              <span class="col-lg-10 help-block">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group{%if form.ISBN.errors%} has-error{%endif%}">
            <label for="{{form.ISBN.id_for_label}}" class="col-lg-2 control-label">ISBN</label>
            <div class="col-lg-10">
              {{ form.ISBN }}
              {% if not form.ISBN.errors %}
                <span class="help-block">Ex: 1590366727</span>
              {% endif %}
              {% for error in form.ISBN.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

          {% if form.errors %}
            <hr />
            <div id="section-collapse" class="collapse in">
          {% else %}
            <div id="section-collapse" class="collapse">
          {% endif %}

            <div class="form-group{%if form.title.errors%} has-error{%endif%}">
              <label for="{{form.title.id_for_label}}" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                {{ form.title }}
                {% for error in form.title.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{%if form.author.errors%} has-error{%endif%}">
              <label for="{{form.author.id_for_label}}" class="col-lg-2 control-label">Author</label>
              <div class="col-lg-10">
                {{ form.author }}
                {% for error in form.author.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{%if form.year.errors%} has-error{%endif%}">
              <label for="{{form.year.id_for_label}}" class="col-lg-2 control-label">Year</label>
              <div class="col-lg-10">
                {{ form.year }}
                {% for error in form.year.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{%if form.edition.errors%} has-error{%endif%}">
              <label for="{{form.edition.id_for_label}}" class="col-lg-2 control-label">Edition</label>
              <div class="col-lg-10">
                {{ form.edition }}
                {% for error in form.edition.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

          </div>

          <hr />

          <div class="form-group{%if form.book_condition.errors%} has-error{%endif%}">
            <label for="{{form.book_condition.id_for_label}}" class="col-lg-2 control-label">Condition</label>
            <div class="col-lg-10">
              {{ form.book_condition }}
              {% for error in form.book_condition.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

          <div class="form-group{%if form.price.errors%} has-error{%endif%}">
            <label for="{{form.price.id_for_label}}" class="col-lg-2 control-label">Price</label>
            <div class="col-lg-10">
              <div class="input-group">
                <span class="input-group-addon"> $ </span>
                {{ form.price }}
              </div>
              {% if not form.price.errors %}
                <span class="help-block">Enter a whole number, disregard cents.</span>
              {% endif %}
              {% for error in form.price.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

          <div class="form-group{%if form.description.errors%} has-error{%endif%}">
            <label for="{{form.description.id_for_label}}" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              {{ form.description }}
              {% for error in form.description.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

          <div class="form-group{%if form.photo.errors%} has-error{%endif%}">
            <label for="{{form.photo.id_for_label}}" class="col-lg-2 control-label">Photo</label>
            <div class="col-lg-10">
              {{ form.photo }}
              {% for error in form.photo.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>

</div>

{% endblock %}
