{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Help
{% endblock title %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>BOOKSHARE</h1>
      <p class="lead"><strong>Help</strong></p>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12">
    <h3>
    <a href="#Buying">Buying</a> &bull;
    <a href="#Selling">Selling</a> &bull;
    <a href="#Lookouts">Lookouts</a> &bull;
    <a href="#Flagging">Flagging</a> &bull;
    <a href="#API">API</a>
    </h3>
  </div>
</div>

<legend><a name="Buying" href="#Buying">Buying</a></legend>

<div class="row">
</div>

<legend><a name="Selling" href="#Selling">Selling</a></legend>

<div class="row">
</div>

<legend><a name="Lookouts" href="#Lookouts">Lookouts</a></legend>

<div class="row">
</div>

<legend><a name="Flagging" href="#Flagging">Flagging</a></legend>

<div class="row">
</div>

<legend><a name="API" href="#API">API</a></legend>

<div class="row">
</div>

{% endblock content %}
