{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Homepage
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>GMU</strong>&#8203;BOOKSHARE</h1>
      <p class="lead">A place for GMU students to buy and sell textbooks.</p>
    </div>
  </div>
</div>

<legend></legend>

<div class="row">
  <div class="col-md-3 text-center">
    <h4><i class="fa fa-key fa-lg"></i></h4>
    <h4>Log in with your Mason credentials</h4>
  </div>
  <div class="col-md-3 text-center">
    <h4><i class="fa fa-money fa-lg"></i></h4>
    <h4>Sell used textbooks to Mason students</h4>
  </div>
  <div class="col-md-3 text-center">
    <h4><i class="fa fa-book fa-lg"></i></h4>
    <h4>Search for textbooks by course, price, and more</h4>
  </div>
  <div class="col-md-3 text-center">
    <h4><i class="fa exclamation-circle fa-lg"></i></h4>
    <h4>Get updates when textbooks you want are posted</h4>
  </div>
</div>

{% endblock %}
