{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Homepage
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>GMU</strong>&#8203;BOOKSHARE</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <a href="{% url 'create_listing' %}" class="btn btn-primary btn-lg btn-block">
      I have a book
    </a>
  </div>

  <div class="col-sm-6">
    <a href="{% url 'search' %}" class="btn btn-primary btn-lg btn-block">
      I need a book
    </a>
  </div>

</div>

  <hr/>
<!-- if the user is not signed in, or doesn't have anything on the lookout for
then it just shows the most recent new postings -->

<div class="row">
  <div class="col-lg-12">

    <div class="row">
      {% if listings %}

        {% for listing in listings %}
          <div class="col-lg-4">
            {% include 'listing_preview_panel.html' %}
          </div>
        {% endfor %}

      {% else %}
        <div class="col-lg-12 text-center">
          <div class="panel panel-warning">
            <div class="panel-body">
              <h3>No lookout results found.</h3>
              <p>
                You may not have set any, try
                <a href="{%url 'lookouts' request.user.username%}">
                  setting some</a>.
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
