{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; {{listing.title}}
{% endblock %}

{% block content %}

<div class="container">

<div class ="row">
  <div class="col-md-8">
    <h1><em>{{ listing.title }}</em></h1>
    <h3>Author: {{ listing.author }}</h3>
    <h2>{{ listing.isbn }}</h2>
    <h2>{{ listing.condition }}</h2>
    <p>{{ listing.description }}</p>
  </div>

  <div class="col-md-4 text-right">
  <h2>${{ listing.price }}</h2>
  <img src="{{ media }}{{ listing.photo }}" alt="User submitted textbook photo" class="img-thumbnail" />
  Listed {{ listing.date_created }}<br />
  </div>
    
</div>

<div class="row">
  <div class="col-md-4">
  The Bidding Platform
  </div>
  <div class="col-md-8">
  Custom commenting system
  </div>
</div>

{% endblock %}
