{% extends 'layouts/base.html' %}
{% load comments %}

{% block title %}
GMU Bookshare &bull; {{listing.title}}
{% endblock %}

{% block content %}

<div class="container">

  <div class ="row">

    {% if listing.sold %}
      <div class="alert alert-warning">
        <strong>This listing has been sold.</strong>
      </div>
    {% endif %}

    {% if old %}
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
        aria-hidden="true">&times;</button>
        Heads up, this listing is <strong>over a month old</strong> and may no longer be valid!
      </div>
    {% endif %}

    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="text-center">
        <a href="{{ media }}{{ listing.photo }}" class="thumbnail">
          <img src="{{ media }}{{ listing.photo }}" alt="User submitted textbook photo" class="img-thumbnail" />
        </a>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <h1>
        <em>{{ listing.title }}</em>
      </h1>

      <h4>
        by {{ listing.author }}
        {% if listing.year %}
          ({{ listing.year }})
        {% endif %}
      </h4>

      <h4>
        {% if listing.edition %}
          {{ listing.edition }} edition | 
        {% endif %}
        <em>{{ listing.ISBN }}</em>
      </h4>
    </div>

    <div class="col-md-3 text-right">
      <h1>${{ listing.price }}</h1>
      <h4>Listed {{ listing.date_created }}</h4>
      <a class="btn btn-danger" href="#">Report Listing</a>
    </div>

    <div class="col-md-8">
      <h4>Condition</h4>
      <p>{{ listing.book_condition }}</p>
    </div>

    <div class="col-md-8">
      <h4>Description</h4>
      {% if listing.description %}
        <p>{{ listing.description }}</p>
      {% else %}
        <p>None provided.</p>
      {% endif %}
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#bids">
              Bids
            </a>
          </h4>
        </div>
        <div id="bids" class="panel-collapse collapse">
          <div class="panel-body">
            Bid system goes here.
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
          <h4 class="panel-title">
            {% get_comment_count for listing as comment_count %}
            <a data-toggle="collapse" href="#comments">
              Comments ({{ comment_count }})
            </a>
          </h4>
        </div>
        <div id="comments" class="panel-collapse collapse">
          <div class="panel-body">
            Comments go here.
            {% render_comment_list for listing %}
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

{% endblock %}
