{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; {{listing.title}}
{% endblock %}

{% block content %}

<div class="container">

<div class ="row">
  <div class="col-md-8">
    <h1><em>{{ listing.title }}</em>
    </h1>
    <h4>{{ listing.author }} | <em>{{ listing.ISBN }}</em></h4>
  </div>
  <div class="col-md-4 text-right">
    <h1>${{ listing.price }}</h1>
    <h4>Listed {{ listing.date_created }}
      {% if old %}
        <span class="label label-danger">OLD</span>
      {% endif %}
    </h4>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="text-center">
      <a href="{{ media }}{{ listing.photo }}" class="thumbnail">
        <img src="{{ media }}{{ listing.photo }}" alt="User submitted textbook photo" class="img-thumbnail" />
      </a>
      <div class="caption">Click to enlarge.</div>
    </div>
  </div>

  <div class="col-md-8">
    <h4>Condition</h4>
    <p>{{ listing.condition }}</p>
    {% if listing.description %}
      <h4>Description</h4>
      <p>{{ listing.description }}</p>
    {% endif %}
  </div>

</div>

<div class="row">
  <div class="col-md-4">
  The Bidding Platform
  </div>
  <div class="col-md-8">
  Custom commenting system
  </div>
</div>

{% endblock %}
