{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Privacy Policy
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>Privacy Policy</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-3">
    <h2>Your information</h2>
    <p>
      Listings posted on GMU Bookshare are instantly available to all GMU
      students, as well as information such as comments and bids made on
      other user's listings and transaction histories and ratings shown as
      part of a user's profile. Your real name and email adddress accompany
      your profile information.
    </p>
      Your profile information is as provided through the university, and
      we are unable to make any changes to your name, except as well changed
      by the university.
  </div>

  <div class="col-lg-3">
    <h2>What data do we collect?</h2>
    <p>
      We permanently retain anonymized basic log information on your
      use of this website via <a href="//piwik.org/">Piwik</a> analytics.
      Piwick is self-hosted and open source, so your information will not be
      sold or otherwise transferred to any other third party, nor will your
      information be otherwise divulged, expect by request of the 
      university or by lawful court order. <strong>Ever.</strong>
    </p>
    <p>
      Nothing in this privacy policy should be construed to limit any legal
      defense or objection to a request or order to disclose your
      information.
    </p>
  </div>

  <div class="col-lg-3">
    <h2>Why do we collect data?</h2>
    <p>
      Knowing how many users a service has and how often it gets used
      tells us how popular that service is.
    </p>
    <p>
      If a service is getting a lot of use, we will try to provide more
      support and focus our attention on that service. Our use of your
      information is limited to improving your experience.
    </p>
    <p>
      The code for this site is publicly available at
      <a href="http://git.gmu.edu/">our git repository</a>, and you are
      encouraged to exercise your
      <a href="https://www.gnu.org/philosophy/free-sw.html">
      basic computing freedoms</a>.
  </div>

  <div class="col-lg-3">
    <h2>Can I opt out?</h2>
    <p>
      You may <a href="{% url 'privacy_opt_out' %}">opt out</a> (or in) of
      analytics.
    </p>
    <p>
      Your interaction with the site, such as bids, transactions, or
      ratings, will not be removed, except as involation of GMU's
      responsible use of computing, or by lawful court order, even upon
      graduation or other termination of relationship with the university
      and the cessation of your full access GMU account.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>
      Should any portion of this privacy policy be deemed invalid, illegal,
      or unenforcable, all other terms of the policy will nevertheless
      remain in full force and effect.
    </p>
    <p>
      Because our service requires GMU user account authentication, we do
      not by design allow minors under the age of 13 to use services.
    </p>
    <p>
      Our services are housed in Fairfax, Virginia, United States and are
      subject to law within its jurisdiction. Please
      <a href="http://srct.gmu.edu/people/email">contact us</a> with any 
      questions, comments, or concerns.
    </p>
  </div>
</div>

{% endblock %}
