{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Privacy Policy
{% endblock %}

{% block content %}

<div class="container">
    <h1>Privacy Policy</h1>
    <div>
      <p>All of your information that you create via this site is visible
      to everyone at GMU, should they sign in. Your information will not
      leave that systemto be sold to anyone, rest assured.</p>
      <p>We collect your background web data via Piwick analytics. This is
      self-hosted and open-sourced, so we're not basically funneling your
      information to Google. Like most of the sites you visit online.
      Seriously, you should install something to <a
      href="https://www.eff.org/deeplinks/2012/04/4-simple-changes-protect-your-privacy-online">block
      your web trackers</a>. That stuff is creepy. Anyway, Piwick
      is more for our idle curiosity, and the information that's collected
      is not going to be sold. Period.</p>
    </div>
</div>

{% endblock %}
