{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Seller Profile
{% endblock %}

{% block content %}

<script>
function confirm_close_action( target ){
  var button = document.getElementById("CloseConfirmButton");
  button.href = target;
}
function finalPrice_action( target ){
  var form = document.getElementById("FinalPriceForm");
  form.action = target;
}
</script>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ seller.user.first_name }} {{ seller.user.last_name }}
      {% if seller.user = request.user %}
      (me)
      {% endif %}
      <span class="pull-right">
        <a href="mailto:{{ seller.user.email }}">{ contact }</a>
      </span></h1>
      <p class="lead">
        {% if seller.rating %}
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        {% else %}
          No ratings yet.
        {% endif %}
      </p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <h3>Listings</h3>
    {% if listings %}

      <div class="table-responsive">
        <table class="table table-bordered">

          <thead>
            <th class="col-md-1 text-center">ISBN</th>
            <th class="col-md-9">Title</th>
            <th class="col-md-1 text-center">Price</th>
            <th class="col-md-1 text-center">
              {% if seller.user = request.user %}
              Action
              {% else %}
              Status
              {% endif %}
            </th>
          </thead>

          {% for listing in listings %}
            <tr>
              <td class="text-center">{{ listing.ISBN }}</td>

              <td>
                {% if listing.active %}
                  <a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a>
                  {% else %}
                  {{ listing.title }}
                {% endif %}
              </td>

              <td class="text-center">
                {% if listing.sold %}
                  ${{ listing.finalPrice }}
                {% elif not listing.active %}
                  $0
                {% else %}
                  ${{ listing.price }}
                {% endif %}
              </td>

              <td class="text-center">
                {% if listing.sold %}
                  <span class="label label-danger">Sold</span>
                {% elif not listing.active %}
                  <span class="label label-default">Closed</span>
                {% else %}
                  {% if seller.user = request.user %}
                    <a href="#" onclick="confirm_close_action('{% url 'close_listing' listing.pk %}');"
                    data-toggle="modal" data-target="#CloseConfirm">Close</a> / 
                    <a href="#" onclick="finalPrice_action('{% url 'sell_listing' listing.pk %}');"
                    data-toggle="modal" data-target="#FinalPrice">Sold</a>
                  {% else %}
                    <span class="label label-success">Unsold</span>
                  {% endif %}
                {% endif %}
              </td>

            </tr>
          {% endfor %}

          {% if seller.user = request.user %}
          <tr>
            <td class="text-center">-</td>
            <td class="text-right"><strong>Total Proceeds:</strong></td>
            <td class="text-center">${{ total_sold }}</td>
            <td class="text-center">-</td>
          </tr>
          {% endif %}

        </table>
      </div>

    {% else %}
      {{ seller.name }} doesn't have any listings posted yet.
    {% endif %}
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FinalPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" id="FinalPriceForm" method="post" role="form">
        {%csrf_token%}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Final Selling Price</h4>
        </div>

        <div class="modal-body">
          <div class="form-group{%if FinalPrice_form.final_price.errors%} has-error{%endif%}">
            <label class="col-lg-3 control-label" for="{{FinalPrice_form.final_price.id_for_label}}">
              {{FinalPrice_form.final_price.label}}
            </label>
            <div class="col-lg-9">
              <div class="input-group">
                <span class="input-group-addon"> $ </span>
                {{FinalPrice_form.final_price}}
              </div>
            </div>
            <span class="help-block col-lg-9 col-lg-offset-3">
              Enter the final price you sold your book for (optional).
            </span>
          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-default btn-sm" data-dismiss="modal">Close</a>
          <input type="submit" class="btn btn-primary btn-sm" value="Mark as Sold" />
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="CloseConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Listing Closure</h4>
      </div>
      <div class="modal-body text-center">
        Are you sure? This action cannot be undone!
      </div>
      <div class="modal-footer">
        <a class="btn btn-default btn-sm" data-dismiss="modal">Cancel</a>
        <a class="btn btn-primary btn-sm" id="CloseConfirmButton">Close Listing</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
