{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Seller Profile
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ seller.user.first_name }} {{ seller.user.last_name }}
      {% if seller.user = request.user %}
      (me)
      {% endif %}
      <span class="pull-right">
        <a href="mailto:{{ seller.user.email }}">{ contact }</a>
      </span></h1>
      <p class="lead">
        {% if seller.rating %}
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        {% else %}
          No ratings yet.
        {% endif %}
      </p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <h3>Listings</h3>
    {% if listings %}

      <div class="table-responsive">
        <table class="table table-bordered">

          <thead>
            <th class="col-md-1 text-center">ISBN</th>
            <th class="col-md-7">Title</th>
            <th class="col-md-1 text-center">Price</th>
            <th class="col-md-1 text-center">Status</th>
            <th class="col-md-1 text-center">Close</th>
          </thead>

          {% for listing in listings %}
            <tr>
              <td class="text-center">{{ listing.ISBN }}</td>

              <td>
                {% if listing.active %}
                <a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a>
                {% else %}
                {{ listing.title }}
                {% endif %}
              </td>

              <td class="text-center">
                {% if listing.sold %}
                  ${{ listing.finalPrice }}
                {% else %}
                  ${{ listing.price }}
                {% endif %}
              </td>

              {% if listing.sold %}
                <td class="text-center">
                  <span class="label label-danger">Sold</span>
                </td>
              {% else %}
                <td class="text-center">
                  <span class="label label-success">Unsold</span>
                </td>
              {% endif %}

              <td class="text-center">
                {% if listing.active %}
                <a href="{% url 'close_listing' listing.pk %}"
                onclick="return confirm('Are you sure you want to close this listing? This cannot be undone.')">Close</a>
                {% else %}
                <span style="cursor:not-allowed;">Closed</span>
                {% endif %}
              </td>

            </tr>
          {% endfor %}

          {% if seller.user = request.user %}
          <tr>
            <td class="text-center">-</td>
            <td class="text-right"><strong>Total Proceeds:</strong></td>
            <td class="text-center">${{ total_sold }}</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
          </tr>
          {% endif %}

        </table>
      </div>

    {% else %}
      {{ seller.name }} doesn't have any listings posted yet.
    {% endif %}
  </div>
</div>

{% endblock %}
