{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Homepage
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>GMU</strong>BOOKSHARE</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form class="form-horizontal" role="form">
      
      <div class="form-group">
        <label for="isbn" class="col-sm-2 control-label">ISBN</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="isbn" placeholder="ISBN">
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
