DateTime==4.0.1
Django==1.11.28
MySQL-python==1.2.5
Pillow==2.7.0
Whoosh==2.6.0
argparse==1.2.1
boto==2.38.0
django-autoslug==1.7.2
django-braces==1.4.0
git+https://github.com/kstateome/django-cas.git
django-crispy-forms==1.4.0
django-gravatar2==1.1.4
django-haystack==2.3.1
django-model-utils==2.2
django-piwik==0.1
django-randomslugfield==0.3.0
django-ratelimit==0.5.0
django-redis-cache==0.13.0
django-smtp-ssl==1.0
django-storages==1.1.8
djangorestframework==3.0.4
docutils==0.12
flake8==2.4.0
gunicorn==19.1.1
mccabe==0.3
pep8==1.5.7
pyflakes==0.8.1
pyisbn==1.0.0
python-dateutil==2.4.1
pytz==2014.10
requests==2.5.1
redis==2.10.3
selenium==2.45.0
six==1.9.0
wsgiref==0.1.2
zope.interface==4.1.2
