{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Create Lookout
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

{% include 'messages.html' %}

<div class="row">
  <div class="col-lg-12 text-center">
    <h1><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
    <p class="lead text-center"><strong>Create Lookout</strong></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <span class="help-block">
      <strong>Lookouts</strong> help you find the textbooks you
      need. Input the ISBN of a textbook you'd like to look out
      for, and any new listings with that ISBN will show up on
      your homepage, automatically!
    </span>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong><i class="fa fa-plus-circle"></i> Add Your Lookout</strong></h1>
      </div>
      <div class="panel-body">
        <div class="row">
          {% crispy my_form %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
