{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Create Lookout
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

{% include 'layouts/bookshare_title.html' with subtitle="Create Lookout" %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <span class="help-block">
      <strong>Lookouts</strong> help you find the textbooks you
      need.
      <br></br>
      Input the ISBN of a textbook you'd like to look out
      for, and any new listings with that ISBN will show up on
      your homepage, automatically!
    </span>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong><i class="fa fa-plus-circle"></i> Add Your Lookout</strong></h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
