{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Delete Lookout
{% endblock %}

{% block content %}

{% load trades_extras %}

<hr />

<div class="row text-center">
  <form action="" method="post">{% csrf_token %}
    <h3>Are you sure you want to delete your lookout for <em>{{ lookout.isbn|isbn_name|title }}</em>?</h3>
    <input type="submit" value="Confirm" class="btn btn-danger btn-sm" />
    <input type="cancel" value="Never Mind" class="btn btn-default btn-sm" onclick="history.back()"/>
  </form>
</div>

<hr />
{% endblock %}
