{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Lookouts
{% endblock %}

{% block content %}

{% load trades_extras %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
      <p class="lead"><strong>Your lookout for <em>{{ lookout.isbn|isbn_name|title }}</em>.</strong></p>
      <a href="{% url 'delete_lookout' lookout.slug %}"><button type="button" class="btn btn-danger btn-xs">Delete this Lookout</button></a>
    </div>
  </div>
</div>

<div class="row">
  {% for listing in lookout.get_listings %}
    {% if not listing.cancelled or listing.exchanged %}
    <div class="col-md-6">
      {% include 'listing_preview_panel.html' %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
    {% endif %}
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
