{% extends 'layouts/base.html' %}

{% load trades_extras %}

{% block title %}
SRCT Bookshare &bull; Lookouts &bull; {{ lookout.get_title_or_isbn }}
{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-sm-12 text-center">
    <h1><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
    <p class="lead"><em>Your lookout for</em></p>
    <p class="lead"><strong>{{ lookout.get_title_or_isbn }}</strong></p>
    <p class="lead"><small>
      {% if lookout.author %}
        by {{ lookout.author }}
      {% endif %}
      (ISBN {{ lookout.isbn }})</small>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <a href="{% url 'delete_lookout' lookout.slug %}"><button type="button" class="btn btn-danger btn-xs">Delete this Lookout</button></a>
  </div>
</div>
<hr />

<div class="row">
  {% for listing in lookout.get_listings %}
    {% if not listing.cancelled or listing.exchanged %}
    <div class="col-md-6">
      {% include 'listing_preview_panel.html' %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
    {% endif %}
    {% endif %}
  {% empty %}
    <p class="text-center">No listings currently match your lookout. We'll keep you updated!</p>
  {% endfor %}
</div>

{% endblock content %}
