{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Create Listing
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
      <p class="lead text-center"><strong>Create Listing</strong></p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-8 col-lg-offset-2">
    <div class="well">
      <div class="row">
        {% crispy form %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
