{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; {{ flag.listing.title }} &bull; Delete Listing
{% endblock %}

{% block content %}

<hr />

<div class="row text-center">
  <form action="" method="post">{% csrf_token %}
    <h3>Are you <em>ABSOLUTELY</em> certain you want to <em>PERMANENTLY</em> delete {{ listing.poster.user.get_full_name }}'s listing <em>{{ listing.title }}</em>?</h3>
    <input type="submit" value="THERE'S NO GOING BACK AND PEOPLE WILL BE MAD" class="btn btn-danger btn-sm" />
    <input type="submit" value="Never Mind" class="btn btn-default btn-sm" onclick="history.back()" />
  </form>
</div>

<hr />
{% endblock %}
