{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; {{ listing.title }}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% load humanize %}

<!-- you can't actually dismiss this for some reason -->
{% if flag_count > 4 %}

{% block javascript %}
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
{% endblock %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title"><strong class="text-danger"><i class="fa fa-exclamation-triangle fa-fw"></i> Warning:</strong> This listing has been flagged!</h3>
      </div>
      <div class="modal-body text-center">
        {% for flag in flags %}
        <h4><strong>{{ flag.reason }}</strong> {{ flag.created|date:"M d, 'y P" }} <small>({{ flag.created|naturaltime }})</small></h4>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <div class="text-center"><!-- not sure why this doesn't work in the above div... -->
        <!-- also, why is the dismissing not working... >__> -->
        <button type="button" class="btn btn-danger" data-dismiss="modal">Proceed</button>
        <a href="javascript:history.back()"><button type="button" class="btn btn-default">Get Me Out of Here</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if messages %}
  {% for message in messages %}
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info alert-dismissable text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ message }}</strong>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if listing.cancelled %}
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger text-center">
        <strong>This listing has been cancelled.</strong>
      </div>
    </div>
  </div>
{% elif listing.sold %}
  <div class="row">
    <div class="col-lg-12">
      {% if listing.winning_bid.bidder.user == request.user %}
      <div class="alert alert-success text-center">
        <strong>You purchased this listing {{ listing.date_closed|timesince }} ago.</strong>
        {% if rating %}
          <strong><a href="{% url 'edit_rating' listing.slug rating.slug %}">Edit</a> <a href="{% url 'ratings' listing.seller.slug %}">your rating</a> of this sale.</strong>
        {% else %}
          <strong>Rate your experience with {{ listing.seller.user.first_name }} <a href="{% url 'create_rating' listing.slug %}">here</a>.</strong>
        {% endif %}
      {% else %}
      <div class="alert alert-danger text-center">
        <strong>This listing has been sold.</strong>
      {% endif %}
      </div>
    </div>
  </div>
{% elif not listing.active %}
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning text-center alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
        aria-hidden="true">&times;</button>
        Heads up, this listing is <strong>over a month old</strong> and we haven't seen its seller around recently either. It may no longer be valid!
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-xs-8">
    <h1>
      <em><strong>{{ listing.title }}</strong></em>
    </h1>
  </div>
  <div class="col-xs-4 text-right">
    <h1>
      {% if listing.sold %}
        <small>Final</small> <strong>${{ listing.final_price }}</strong>
      {% else %}
        <small>Asking</small> <strong>${{ listing.price }}</strong>
      {% endif %}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4>
      <small>by</small> {{ listing.author }}
      {% if listing.year %}
        ({{ listing.year }})
      {% endif %}
    </h4>
  </div>
  <div class="col-xs-6 text-right">
    <h4><small>Listed</small> {{ listing.created|date:"M d, 'y P" }} <small>({{ listing.created|naturaltime }})</small></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-6">
      <h4><small>ISBN</small> {{ listing.isbn }}</h4>
  </div>

  <div class="col-md-2 col-sm-6 col-xs-6 small-text-right">
    <h4>
      {% if listing.edition %}
        {{ listing.edition|ordinal }}<small> edition</small>
      {% endif %}
    </h4>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6">
      <h4><small>Course</small> {{ listing.course_abbr }}</h4>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6 text-right">
    <h4><small>Sold by</small><a href="{% url 'profile' listing.seller.user.username %}"> {{ listing.seller.user.first_name }} {{ listing.seller.user.last_name }}</a>
    {% if request.user == listing.seller.user %}
    (Me)
    {% endif %}</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <h4><small>Condition</small> {{ listing.condition }}</h4>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6 small-text-right">
    <h4><small>Access Code</small> {{ listing.access_code }}</h4>
  </div>

  <div class="col-md-5 text-right small-text-center">
  {% if request.user == listing.seller.user %}
  {% else %}
    {% if can_flag %}
    <h5><a href="{% url 'create_flag' listing.slug %}"><span class="label label-danger"><i class="fa fa-flag fa-fw fa-lg"></i> Flag</span></a></h5>
    {% else %}
    <h5><a href="{% url 'delete_flag' listing.slug flag_slug %}"><span class="label label-danger"><i class="fa fa-flag fa-fw fa-lg"></i>Remove Flag</span></a></h5>
    {% endif %}
  {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="text-center">
      <a href="{{ listing.photo.url }}">
        <img src="{{ listing.photo.url  }}"
        alt="User submitted textbook photo" class="img-thumbnail" />
      </a>
    </div>
  </div>

  <div class="col-md-9 col-sm-6 col-xs-12">
    <h4><small>Description/Comments</small>
      {{ listing.description }}
  </div>
</div>

<div class="row text-center">
{% if request.user == listing.seller.user %}
  <div class="col-md-6 col-md-offset-3">
    <h3>
      {% if bid_count > 0 %}
        {% if not listing.sold and not listing.cancelled %}
        <span class="label label-default">
          <a href="{% url 'sell_listing' listing.slug %}">Mark Sold</a>
        </a></span>
        {% elif not listing.cancelled %}
        <span class="label label-default">
          <a href="{% url 'unsell_listing' listing.slug %}">Cancel Sale</a>
       </span>
        {% endif %}
      {% endif %}
      &nbsp;
      {% if not listing.sold and not listing.cancelled %}
      <span class="label label-default">
        <a href="{% url 'edit_listing' listing.slug %}">Edit Listing</a>
      </span>
      {% endif %}
      &nbsp;
      {% if not listing.cancelled and not listing.sold %}
      <span class="label label-default">
        <a href="{% url 'cancel_listing' listing.slug %}">Cancel Listing</a>
      </span>
      {% elif not listing.sold %}
      <span class="label label-default">
        <a href="{% url 'reopen_listing' listing.slug %}">Reopen Listing</a>
      </span>
      {% endif %}
    </h3>
  </div>
</div>

{% else %}
  <div class="col-md-12">
    <div class="panel panel-default" style="margin-top:10px;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <strong>Submit Your Bid</strong>
        </h4>
      </div>
      <div class="panel-body">
      {% if not listing.cancelled and not listing.sold %}
        <div class="row">
          {% crispy my_form %}
        </div>
      {% else %}
      <div class="col-md-12">
        <h5 class="text-center">This listing has been
          {% if listing.cancelled %}
          cancelled
          {% elif listing.sold %}
          sold
          {% endif %}
          and is no longer accepting bids.
        </h5>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" style="margin-top:10px;">
      <div class="panel-heading">
        <h4 class="panel-title text-center">
          <a data-toggle="collapse" href="#bids">
            Hide/Show Bids ({{ bid_count }})
          </a>
        </h4>
      </div>
      <div class="panel-body">

        {% if bids %}
        <div id="bids" class="panel-collapse collapse in">
        {% endif %}

        {% for bid in bids %}
        <!-- BID DISPLAY -->
          <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-6 text-center">
              <h4><a href="{{ bid.bidder.get_absolute_url }}">
                {{ bid.bidder.user.first_name }}
                {{ bid.bidder.user.last_name }}
              </a></h4>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6 small-text-center">
              <h4><small>{{ bid.created|naturaltime }}</small></h4>
            </div>

            <div class="col-md-5 col-sm-6 col-xs-6 small-text-center">
              <h4><small>
              {% if bid.text %}
                {{ bid.text }}
              {% else %}
              {% endif %}
              </small></h4>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6 text-center">
            {% if bid == listing.winning_bid %}
              <h4><small><span class="label label-success">Winning Bid</span></small> <strong>${{ bid.price }}</strong></h4>
            {% else %}
              <h4><strong>${{ bid.price }}</strong></h4>
            {% endif %}
            </div>

          </div>

          <hr/>

        <!-- BID DISPLAY -->
        {% endfor %}

        {% if bids %}
        </div>
        {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
