<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>
        {% if not listing.active %}
          <small><span class="label label-warning"><strong>Inactive</strong></span></small>
        {% elif listing.exchanged %}
          <small><span class="label label-primary"><strong>Exchanged</strong></span></small>
        {% endif %}
        <a href="{{ listing.get_absolute_url }}">
          <strong>{{ listing.title }}</strong>
        </a>
      </h4>
    </div>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-8">
        <h4><small>Seller</small>
          <a href="{{ listing.seller.get_absolute_url }}">
            {{ listing.seller.user.get_full_name }}
          </a>
        </h4>
      </div>
      <div class="col-md-4 text-right">
        <h4>
        {% if listing.exchanged %}
          <small>Final</small><strong> ${{ listing.final_price }}</strong>
        {% else %}
          <small>Asking</small><strong> ${{ listing.price }}</strong>
        {% endif %}
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h4><small>Author(s)</small> {{ listing.author }}</h4>
      </div>
      {% if listing.course_abbr %}
      <div class="col-md-4 text-right">
        <h4><small>Course</small> {{ listing.course_abbr }}</h4>
      </div>
      {% else %}
      {% endif %}
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4><small>ISBN</small> {{ listing.isbn }}</h4>
      </div>
      <div class="col-md-6 text-right">
        <h4><small>Condition</small> {{ listing.condition }}</h4>
      </div>
    </div>

  </div>
</div>
