{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Latest Listings
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
      <p class="lead text-center"><strong>Latest Listings</strong></p>
    </div>
  </div>
</div>

{% if listings %}

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h4><p><em>Want to <strong><a href="/search">search</a></strong> for something specific?</em></p></h4>
    </div>
  </div>

  <legend></legend>

  <div class="row">
    {% for listing in listings %}
      <div class="col-md-6">
        {% include 'listing_preview_panel.html' %}
      </div>
      {% if forloop.counter|divisibleby:2 %}
     </div>
     <div class="row">
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <ul class="pager">

        {% if listings.has_previous %}
          <li class="previous">
            <a href="?page={{ listings.previous_page_number }}">
              <h4>&larr; Newer</h4>
            </a>
          </li>
        {% else %}
          <li class="previous disabled">
            <a>
              <h4>&larr; Newer</h4>
            </a>
          </li>
        {% endif %}

        {% if listings.has_next %}
          <li class="next">
            <a href="?page={{ listings.next_page_number }}">
              <h4>Older &rarr;</h4>
            </a>
          </li>
        {% else %}
          <li class="next disabled">
            <a>
              <h4>Older &rarr;</h4>
            </a>
          </li>
        {% endif %}

      </ul>

    </div>
  </div>

{% else %}

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="panel panel-warning">
        <div class="panel-body">
          <h3>There aren't any books in the database!</h3>
          <p>
            Looks like you'll be the first to <a href="{% url 'create_listing' %}">create one</a>!
          </p>
        </div>
      </div>
    </div>
  </div>

{% endif %}

{% endblock %}
