{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; {{ listing.title }} &nbull; Close
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
      <p class="lead text-center"><strong>Close Listing</strong></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <form action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Save" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
