{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; Homepage
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>GMU</strong>&#8203;BOOKSHARE</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <form class="form-horizontal" role="form">
      
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="text" class="form-control" id="isbn" placeholder="ISBN">
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
