{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Search Listings
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
      <p class="lead text-center"><strong>Search</strong></p>
    </div>
  </div>
</div>

<form class="form-horizontal" method="get" action=".">
  <div class="form-group">
    <label for "id_q" class="col-md-1 col-md-offset-4 control-label"><strong>Search</strong></label>
    <div class="col-md-2">
      {{ form.q }}
    </div>
    <button type="submut" class="btn btn-default"><i class="fa fa-search fa-fw fa-lg"></i></button>
  </div>
</form>

{% if query %}

<div class="row">
  <div class="col-md-12">

    {% if page.object_list %}
      <table class="table table-hover text-center">
        <thead>
          <td class="col-md-1"><h4><strong>ISBN</strong></h4></td>
          <td class="col-md-5"><h4><strong>Title</strong></h4></td>
          <td class="col-md-2"><h4><strong>Author</strong></h4></td>
          <td class="col-md-1"><h4><strong>Course</strong></h4></td>
          <td class="col-md-2"><h4><strong>Poster</strong></h4></td>
          <td class="col-md-1"><h4><strong>Price</strong></h4></td>
        </thead>
    {% endif %}

    {% for result in page.object_list %}
      <tr>
        <td class="text-center">
          <h5>{{ result.object.isbn }}</h5>
        </td>
        <td class="text-center">
          <a href="{{ result.object.get_absolute_url }}"><h5><strong>{{ result.object.title }}</strong></h5></a>
        </td>
        <td class="text-center">
          <h5>{{ result.object.author }}</h5>
        </td>
        <td class="text-center">
          <h5>{{ result.object.course_abbr }}</h5>
        </td>
        <td class="text-center">
          <h5>
            <a href="{{ result.object.poster.get_absolute_url }}">
            {{ result.object.poster.user.first_name }} {{ result.object.poster.user.last_name }}
            </a>
          </h5>
        </td>
        <td class="text-center">
          <h5>${{ result.object.price }}</h5>
        </td>
      </tr>
    {% empty %}
      <h4 class="text-center">No results found.</h4>
    {% endfor %}

    {% if page.object_list %}
      </table>
    {% endif %}

  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">

    <ul class="pager">

      {% if page.has_previous %}
        <li class="previous">
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            <h4>&larr; Previous</h4>
          </a>
        </li>
      {% else %}
        <li class="previous disabled">
          <a>
            <h4>&larr; Previous</h4>
          </a>
        </li>
      {% endif %}

      {% if page.has_next %}
        <li class="next">
          <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            <h4>Next &rarr;</h4>
          </a>
        </li>
      {% else %}
        <li class="next disabled">
          <a>
            <h4>Next &rarr;</h4>
          </a>
        </li>
      {% endif %}

    </ul>

  </div>
</div>
{% endif %}

{% endblock %}
