{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Search Listings
{% endblock title %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>SRCT</strong>&#8203;BOOKSHARE</h1>
      <p class="lead text-center"><strong>Search</strong></p>
    </div>
  </div>
</div>

<form class="form-horizontal" method="get" action=".">
  <div class="form-group">
    <label for "{{ form.q.id_for_label }}" class="col-lg-1 col-lg-offset-2 col-md-2 col-md-offset-1 col-sm-2 col-xs-12">
      <strong>Search</strong>
    </label>
    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-10">
      {{ form.q }}
    </div>
  <button type="submit" class="btn btn-default"><i class="fa fa-search fa-fw fa-lg"></i></button>
  </div>
</form>

{% if query %}

<div class="row">
  <div class="col-md-12">

    {% if page.object_list %}
      <table class="table table-hover text-center">
        <thead>
          <td class="col-md-1"><h4><strong>ISBN</strong></h4></td>
          <td class="col-md-5"><h4><strong>Title</strong></h4></td>
          <td class="col-md-2"><h4><strong>Author</strong></h4></td>
          <td class="col-md-1"><h4><strong>Course</strong></h4></td>
          <td class="col-md-2"><h4><strong>Poster</strong></h4></td>
          <td class="col-md-1"><h4><strong>Price</strong></h4></td>
        </thead>
    {% endif %}

    {% for result in page.object_list %}
      {% with result.object as listing %}
      <tr>
        <td class="text-center">
          <h5>{{ listing.isbn }}</h5>
        </td>
        <td class="text-center">
          <h5><strong>
            <a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a>
          </strong></h5>
        </td>
        <td class="text-center">
          <h5>{{ listing.author }}</h5>
        </td>
        <td class="text-center">
          <h5>{{ listing.course_abbr }}</h5>
        </td>
        <td class="text-center">
          <h5>
            <a href="{{ listing.poster.get_absolute_url }}">
              {{ listing.poster.user.get_full_name }}
            </a>
          </h5>
        </td>
        <td class="text-center">
          <h5>${{ listing.price }}</h5>
        </td>
      </tr>
      {% endwith %}
    {% empty %}
      <h4 class="text-center">No results found.</h4>
    {% endfor %}

    {% if page.object_list %}
      </table>
    {% endif %}

  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">

    <ul class="pager">

      {% if page.has_previous %}
        <li class="previous">
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            <h4>&larr; Previous</h4>
          </a>
        </li>
      {% else %}
        <li class="previous disabled">
          <a>
            <h4>&larr; Previous</h4>
          </a>
        </li>
      {% endif %}

      {% if page.has_next %}
        <li class="next">
          <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            <h4>Next &rarr;</h4>
          </a>
        </li>
      {% else %}
        <li class="next disabled">
          <a>
            <h4>Next &rarr;</h4>
          </a>
        </li>
      {% endif %}

    </ul>

  </div>
</div>
{% endif %}

{% endblock content %}
