{% extends 'layouts/base.html' %}
{% comment %} {% load website_extras %} {% endcomment %}

{% block title %}
SRCT Bookshare &bull; {{ student.user.first_name }} {{ student.user.last_name }}
{% endblock %}

{% block content %}

{% load gravatar %}

<div class="page-header" id="banner">
  <legend>
  <div class="row">
    <div class="col-md-1">
      <img class="img-circle img-responsive" src="{% gravatar_url student.user.email 75 %}">
    </div>
    <div class="col-lg-7 col-md-6">
      <h2><strong>{{ student.user.first_name }} {{ student.user.last_name }}</strong></h2>
    </div>
    <div class="col-lg-2 col-md-3">
      {% if student.rating %}
        <h3><a href="#students-ratings-history">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        </h3></a>
      {% else %}
        <em>{{ student.user.first_name }} has no ratings yet.</em>
      {% endif %}
    </div>
    <div class="col-md-2">
      <h3><a href="mailto:{{ student.user.email }}"><i class="fa fa-envelope"></i> {{ student.user.username }}</a></h3>
    </div>
  </div>
  </legend>
</div>


<div class="row">
  <div class="col-md-12">
    {% if student.user == request.user %}
    <legend><h3>Listings <small>(<a href="{% url 'create_listing' %}">Create</a>)</small></h3></legend>
    {% else %}
    <h3>Listings</h3>
    {% endif %}

    {% if listings %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <th class="col-md-1 text-center">ISBN</th>
          <th class="col-md-9 text-center">Title</th>
          <th class="col-md-1 text-center">Price</th>
          <th class="col-md-1 text-center">
            {% if student.user == request.user %}
            Action
            {% else %}
            Status
            {% endif %}</th>
        </thead>
        {% for listing in listings %}
        <tbody>
          <tr>
            <td class="text-center">{{ listing.isbn }}</td>
            <td class="text-center"><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></td>
            <td class="text-center">
              {% if listing.sold %}
                ${{ listing.finalPrice }}
              {% else %}
                ${{ listing.price }}
              {% endif %}
            </td>
            <td class="text-center">
              {% if listing.sold %}
                <span class="label label-danger">Sold</span>
              {% elif not listing.active %}
                <span class="label label-default">Closed</span>
              {% else %}
                {% if student.user == request.user %}
                  {% if listing.active %}
                    <a href="#">Close</a>
                  {% else %}
                    <a href="#">Reopen</a>
                  {% endif %}
                {% else %}
                <span class="label label-success">Active</span>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% if student.user == request.user %}
        <strong>Total Sales:</strong> 8 |
        <strong>Total Proceeds:</strong> $1335
      {% endif %}
    </div>
    {% else %}
      {% if student.user == request.user %}
      You don't
      {% else %}
      {{ student.user.first_name }} doesn't
      {% endif %}
      have any listings posted yet.
      {% if student.user == request.user %}
      Consider listings your textbooks on SRCT Bookshare.
      {% endif %}
    {% endif %}
  </div>
</div>


{% if student.user == request.user %}
<div class="row">
  <div class="col-md-12">
    <legend><h3>Lookouts <small>(<a href="{% url 'create_lookout' %}">Create</a>)</small></h3></legend>
  </div>
</div>

<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <th class="col-md-1 text-center">ISBN</th>
        <th class="col-md-10">Title</th>
        <th class="col-md-1">Action</th>
      </thead>
      {% for lookout in lookouts %}
      <tr>
        <td class="text-center">{{ lookout.isbn }}</td>
        <td class="text-center">A Title</td>
        <td class="text-center"><a href="#">Delete</a></td>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
