{% extends 'layouts/base.html' %}
{% comment %} {% load website_extras %} {% endcomment %}

{% block title %}
SRCT Bookshare &bull; {{ student.user.first_name }} {{ student.user.last_name }}
{% endblock %}

{% block content %}

{% load gravatar %}

{% load trades_extras %}

<div class="page-header" id="banner">
  <legend>
  <div class="row">
    <div class="col-md-1">
      <img class="img-circle img-responsive" src="{% gravatar_url student.user.email 75 %}">
    </div>
    <div class="col-lg-7 col-md-6">
      <h2><strong>{{ student.user.first_name }} {{ student.user.last_name }}</strong></h2>
    </div>
    <div class="col-lg-2 col-md-3">
      {% comment %}
      {% if student.rating %}
        <h3><a href="#students-ratings-history">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        </h3></a>
      {% else %}
        <em>{{ student.user.first_name }} has no ratings yet.</em>
      {% endif %}
      {% endcomment %}
    </div>
    <div class="col-md-2">
      <h3><a href="mailto:{{ student.user.email }}"><i class="fa fa-envelope"></i> {{ student.user.username }}</a></h3>
    </div>
  </div>
  </legend>
</div>


<div class="row">
  <div class="col-md-12">
    {% if student.user == request.user %}
    <legend><h3><i class="fa fa-book fa-fw"></i> Your Listings <small>(<a href="{% url 'create_listing' %}">Create</a>)</small></h3></legend>
    {% else %}
    <legend><h3><i class="fa fa-book fa-fw"></i> Listings</h3></legend>
    {% endif %}

    {% if listings %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <td class="col-md-2"><h4><strong>ISBN</strong></h4></td>
          <td class="col-md-8"><h4><strong>Title</strong></h4></td>
          <td class="col-md-1"><h4><strong>Price</strong></h4></td>
          <td class="col-md-1"><h4><strong>Status</strong></h4></td>
        </thead>
        {% for listing in listings %}
        <tbody>
          {% if listing.sold %}
          <tr class="success">
          {% else %}
          <tr>
          {% endif %}
            <td class="text-center"><h5>{{ listing.isbn }}</h5></td>
            <td class="text-center"><h5><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</h5></a></td>
            <td class="text-center"><h5>
              {% if listing.sold %}
                ${{ listing.final_price }}
              {% else %}
                ${{ listing.price }}
              {% endif %}
            </h5></td>
            <td class="text-center"><h5>
              {% if listing.sold %}
                <span class="label label-primary"><strong>Sold</strong></span>
                {% if student.user == request.user %}
                  <small>(<a href="{% url 'unsell_listing' listing.slug %}">Cancel Sale</a>)</small>
                {% endif %}
              {% elif listing.cancelled %}
                <span class="label label-default"><strong>Cancelled</strong></span>
                {% if student.user == request.user %}
                  <small>(<a href="{% url 'reopen_listing' listing.slug %}">Reopen</a>)</small>
                {% endif %}
              {% elif not listing.active %}
                <span class="label label-warning"><strong>Inactive</strong></span>
              {% else %}
                <span class="label label-info"><strong>Active</strong></span>
                {% if student.user == request.user %}
                  <small>(<a href="{% url 'cancel_listing' listing.slug %}">Cancel</a>)</small>
                {% endif %}
              {% endif %}
            </h5></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% if student.user == request.user %}
        <h4>
        <strong>Total Sales:</strong> {{ sales }} |
        <strong>Total Proceeds:</strong> ${{ proceeds }}
        </h4>
      {% endif %}
    </div>
    {% else %}
      {% if student.user == request.user %}
      You don't
      {% else %}
      {{ student.user.first_name }} doesn't
      {% endif %}
      have any listings posted yet.
      {% if student.user == request.user %}
      Consider putting your textbooks on SRCT Bookshare.
      {% endif %}
    {% endif %}
  </div>
</div>

<legend><h3><i class="fa fa-gift fa-fw"></i>  Bids</h3></legend>
<div class="row">
  <div class="col-md-12">
    {% if bids %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <td class="col-md-2"><h4><strong>ISBN</strong></h4></td>
          <td class="col-md-8"><h4><strong>Title</strong></h4></td>
          <td class="col-md-2"><h4><strong>Price</strong></h4></td>
        </thead>
        <tbody>
        {% for bid in bids %}
        {% if bid == bid.listing.winning_bid %}
        <tr class="success">
        {% else %}
        <tr>
        {% endif %}
          <td class="text-center"><h5>{{ bid.listing.isbn }}</h5></td>
          <td class="text-center"><h5><a href="{{ bid.listing.get_absolute_url }}">{{ bid.listing.isbn|isbn_name }}<a/></h5></td>
          <td class="text-center"><h5>${{ bid.price }}</h5></td>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    {% if student.user == request.user %}
    You don't
    {% else %}
    {{ student.user.get_full_name }} doesn't
    {% endif %}
    have any have any bids yet.
    {% if student.user == request.user %}
    <a href="{% url 'list_listings' %}">Check out</a> the latest listings
    on SRCT Bookshare and see if there are any textbooks you need!
    {% endif %}
  {% endif %}
  </div>
</div>

{% if student.user == request.user %}
 <legend><h3><i class="fa fa-eye fa-fw"></i> Lookouts <small>(<a href="{% url 'create_lookout' %}">Create</a>)</small></h3></legend>

<div class="row">
  <div class="col-md-12">
  {% if lookouts %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <td class="col-md-2"><h4><strong>ISBN</strong></h4></td>
          <td class="col-md-8"><h4><strong>Title</strong></h4></td>
          <td class="col-md-2"><h4><strong>Action</strong></h4></td>
        </thead>
        <tbody>
        {% for lookout in lookouts %}
        <tr>
          <td class="text-center"><h5>{{ lookout.isbn }}</h5></td>
          <td class="text-center"><h5><a href="{{ lookout.get_absolute_url }}">{{ lookout.isbn|isbn_name }}<a/></h5></td>
          <td class="text-center"><h5><a href="{% url 'delete_lookout' lookout.slug %}"><span class="label label-danger">Delete</span></a></h5></td>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  You don't have any lookouts yet. Lookouts are automatic searches for books you
  have an eye out for. You can <a href="{% url 'create_lookout' %}">create some</a>,
  and we'll immediately let you know when a listing you want goes up.
  {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
