{% extends 'layouts/base.html' %}

{% block title %}
  SRCT Bookshare &bull; {{ student.get_full_name_or_uname }}
{% endblock title %}

{% block content %}

{% load gravatar %}

{% load trades_extras %}

<div class="page-header" id="banner">
  <legend>
  <div class="row">
    <div class="col-md-1">
      <img class="img-circle img-responsive" src="{% gravatar_url request.user.email 75 %}">
    </div>
    <div class="col-md-6">
      <h2><strong>{{ student.get_full_name_or_uname }}</strong>
        {% if student.user == request.user %}
          <small><a href="{% url 'name_change' %}">(Edit)</a></small>
        {% endif %}
      </h2>
    </div>
    <div class="col-md-3 text-right">
      {% if avg_stars %}
        <h3><a href="{% url 'ratings' student.slug %}">
        {% for star in avg_stars|full_stars %}
          <i class="fa fa-star"></i>
        {% endfor %}
        {% if avg_stars|half_stars %}
          <i class="fa fa-star-half-o"></i>
        {% endif %}
        {% for star in avg_stars|empty_stars %}
          <i class="fa fa-star-o"></i>
        {% endfor %}
        </h3></a>
      {% else %}
        <small>{{ student.get_first_name_or_uname }} has no ratings yet.</small>
      {% endif %}
    </div>
    <div class="col-md-2 text-right">
      <h3><a href="mailto:{{ request.user.email }}"><i class="fa fa-envelope"></i> {{ student.user.username }}</a></h3>
    </div>
  </div>
  </legend>
</div>


<div class="row">
  <div class="col-md-12">
    {% if student.user == request.user %}
    <legend><h3><i class="fa fa-book fa-fw"></i> Your Listings <small>(<a href="{% url 'create_listing' %}">Create</a>)</small></h3></legend>
    {% else %}
    <legend><h3><i class="fa fa-book fa-fw"></i> Listings</h3></legend>
    {% endif %}

    {% if new_listings or old_listings %}

      {% if old_listings and not new_listings %}
      {% else %}

        <div class="table-responsive">
          <table class="table table-bordered table-hover table-condensed text-center">
            <thead>
              <td><h4><strong>ISBN</strong></h4></td>
              <td><h4><strong>Title</strong></h4></td>
              <td><h4><strong>Price</strong></h4></td>
              <td><h4><strong>Bids</strong></h4></td>
              <td><h4><strong>Status</strong></h4></td>
            </thead>
            <tbody>
              {% for listing in new_listings %}
                {% include 'listing_row.html' %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if old_listings %}
      <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseListings" aria-expanded="false" aria-controls="collapseListings">
        See older listings
      </button>
      <div class="collapse" id="collapseListings">
        <br />
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-condensed text-center">
            {% if not new_listings %}
            <thead>
              <td><h4><strong>ISBN</strong></h4></td>
              <td><h4><strong>Title</strong></h4></td>
              <td><h4><strong>Price</strong></h4></td>
              <td><h4><strong>Bids</strong></h4></td>
              <td><h4><strong>Status</strong></h4></td>
            </thead>
            {% endif %}
            <tbody>
              {% for listing in old_listings %}
                {% include 'listing_row.html' %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if student.user == request.user %}
        <h4>
        <strong>Total Exchanges:</strong> {{ exchanges }} |
        <strong>Total Proceeds:</strong> ${{ proceeds|default_if_none:"0" }}
        </h4>
      {% endif %}

    {% else %}
      {% if student.user == request.user %}
      You don't
      {% else %}
      {{ student.get_first_name_or_uname }} doesn't
      {% endif %}
      have any listings posted yet.
      {% if student.user == request.user %}
      Consider putting your textbooks on SRCT Bookshare.
      {% endif %}
    {% endif %}
  </div>
</div>

<legend><h3><i class="fa fa-gift fa-fw"></i>  Bids</h3></legend>
<div class="row">
  <div class="col-md-12">
    {% if new_bids or old_bids %}

      {% if old_bids and not new_bids %}
      {% else %}

        <div class="table-responsive">
          <table class="table table-bordered table-hover table-condensed text-center">
            <thead>
              <!-- the br's is a really shitty way of doing this -->
              <td><h4><strong>Date<br />Bid</strong></h4></td>
              <td><h4><strong><br />Title</strong></h4></td>
              <td><h4><strong>Listing Status</strong></h4></td>
              <td><h4><strong><br />Course</strong></h4></td>
              <td><h4><strong><br />Price</strong></h4></td>
            </thead>
            <tbody>
              {% for bid in new_bids %}
                {% include 'bids_row.html' %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if old_bids %}
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseBids" aria-expanded="false" aria-controls="collapseBids">
          See older bids
        </button>
        <div class="collapse" id="collapseBids">
          <br />
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed text-center">
              {% if not new_bids %}
              <thead>
                <!-- the br's is a really shitty way of doing this -->
                <td><h4><strong>Date<br />Bid</strong></h4></td>
                <td><h4><strong><br />Title</strong></h4></td>
                <td><h4><strong>Listing Status</strong></h4></td>
                <td><h4><strong><br />Course</strong></h4></td>
                <td><h4><strong><br />Price</strong></h4></td>
              </thead>
              {% endif %}
              <tbody>
                {% for bid in old_bids %}
                  {% include 'bids_row.html' %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}

  {% else %}
    {% if student.user == request.user %}
    You don't
    {% else %}
    {{ student.get_first_name_or_uname }} doesn't
    {% endif %}
    have any have any bids yet.
    {% if student.user == request.user %}
    <a href="{% url 'list_listings' %}">Check out</a> the latest listings
    on SRCT Bookshare and see if there are any textbooks you need!
    {% endif %}
  {% endif %}
  </div>
</div>

{% if student.user == request.user %}
 <legend><h3><i class="fa fa-eye fa-fw"></i> Lookouts <small>(<a href="{% url 'create_lookout' %}">Create</a>)</small></h3></legend>

<div class="row">
  <div class="col-md-12">
  {% if lookouts %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed text-center">
        <thead>
          <td class="col-md-2"><h4><strong>ISBN</strong></h4></td>
          <td class="col-md-8"><h4><strong>Title</strong></h4></td>
          <td class="col-md-2"><h4><strong>Action</strong></h4></td>
        </thead>
        <tbody>
        {% for lookout in lookouts %}
        <tr>
          <td class="text-center"><h5>{{ lookout.isbn }}</h5></td>
          <td class="text-center"><h5><a href="{{ lookout.get_absolute_url }}">{{ lookout.isbn|isbn_name|title }}<a/></h5></td>
          <td class="text-center"><h5><a href="{% url 'delete_lookout' lookout.slug %}"><span class="label label-danger">Delete</span></a></h5></td>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  You don't have any lookouts yet. Lookouts are automatic searches for books you
  have an eye out for. You can <a href="{% url 'create_lookout' %}">create some</a>,
  and we'll immediately let you know when a listing you want goes up.
  {% endif %}
  </div>
</div>
{% endif %}

{% endblock content %}
