{% extends 'layouts/base.html' %}

{% block title %}
SRCT Bookshare &bull; Edit Name
{% endblock title %}

{% block content %}
{% load gravatar %}

{% include 'layouts/bookshare_title.html' with subtitle="Edit Your Name" %}

{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <img class="img-circle img-responsive" style="margin-left:auto;margin-right:auto;padding:10px"; src="{% gravatar_url request.user.email 150 %}">
  </div>
  <div class="col-md-4">
    <hr />
    <p>
      If you have a <a href="https://en.gravatar.com/">Gravatar profile</a> associated
      with your <a href="https://masonlive.gmu.edu/">Masonlive email</a> address, we will
      display that profile picture.
    </p>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <div class="row">
                <div class="col-md-3">
                  <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="col-md-3">
                  <input type="cancel" value="Never Mind" class="btn btn-default btn-block" onclick="history.back()"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
