{% extends 'layouts/base.html' %}

{% block title %}
GMU Bookshare &bull; {{ seller.name }}'s Listings
{% endblock %}

{% block content %}

<div class="container">

  <h1>{{ seller.name }}'s Listings</h1>

  {% if listings %}

    <div class="table-responsive">
      <table class="table table-bordered">

        <thead>
          <th class="col-md-10">Title</th>
          <th class="col-md-1 text-center">Status</th>
        </thead>

        {% for listing in listings %}
          <tr>
            <td><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></td>
            {% if listing.active %}
              <td class="text-center"><span class="label label-success">Active</span></td>
            {% else %}
              <td class="text-center"><span class="label">Inactive</span></td>
            {% endif %}
          </tr>
        {% endfor %}

      </table>
    </div>

  {% else %}
    {{ seller.name }} doesn't have any listings posted yet. Have you
    considered listing your textbooks on Bookshare? 
  {% endif %}

</div>

{% endblock %}
