<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-6">
        <a href="{% url 'about' %}" target="_blank">About</a> &middot;
        <a href="{% url 'privacy' %}" target="_blank">Privacy</a> &middot;
        <a href="http://srct.gmu.edu/documents/usage_policy" target="_blank">Terms of Service</a> &middot;
        <a href="http://srct.gmu.edu/contact" target="_blank">Contact</a>
      </div>
      <div class="col-md-6">
        <p class="muted pull-right">A <a href="http://srct.gmu.edu/projects" target="_blank">project</a> of <a href="http://www.gmu.edu/" target="_blank">Mason</a> <a href="http://srct.gmu.edu/" target="_blank"><strong>SRCT</strong></a>. Bookshare is <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">free software</a>; <a href="http://git.gmu.edu/srct/bookshare/" target="_blank">get the source</a>.</p>
      </div>
    </div>
  </div>
</div>
