<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="{% url 'about' %}">About</a>
        &middot;
        <a href="{% url 'contact' %}">Contact</a>
        &middot;
        <a href="http://srct.gmu.edu/usage-policy">Terms of Service</a>
        &middot;
        <a href="{% url 'privacy' %}">Privacy</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">A <a href="http://srct.gmu.edu/projects">project</a> of <a href="http://www.gmu.edu/">Mason</a> <a href="http://srct.gmu.edu/"><strong>SRCT</strong></a>. <a href="http://www.apache.org/licenses/LICENSE-2.0">Contribute</a> to <a href="http://git.gmu.edu/srct/bookshare/">our code</a>.</p>
      </div>
    </div>
  </div>
</div>
