<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'homepage' %}"><img src="/static/img/SRCT_square.svg" height="24" width="24" alt="SRCT"> BOOKSHARE</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
        <li><a href="{% url 'create_listing' %}">Create Listing</a></li>
        <li><a href="{% url 'list_listings' %}">Latest Listings</a></li>
      {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
      {% endif %}
        <li><a href="{% url 'charts' %}">Listing Charts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="/search"><i class="fa fa-search fa-lg"></i></a></li>
        {% load gravatar %}
        <li><a href="{% url 'profile' request.user.username %}">
          <img class="img-circle img-responsive center center-block" src="{% gravatar_url request.user.email 21 %}"></a></li>
        <li><a href="/logout">Log Out</a></li>
        {% else %}
        <li><a href="/login" title="use your Mason username and password">Log In</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</div>
